<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text"> <h4>
        <p>
            Hi! My name is Ryan Lee, and I am currently an undergraduate at MIT. I am planning to major in physics and considering a double major in either math or computer science.
        </p>
         <p>
            My primary interest is theoretical condensed matter physics, especially a field-theoretical approach. More specifically, I am interested in the topological phases of matter and studying them using TQFTs and CFTs.
        </p>
        <p>
            Before entering MIT, I participated 53rd International Physics Olympiad as a representative of South Korea (2024). I am also alumni of the 9th Hanseong Sonjaehan Scholarship (2021-2023).
        </p>
        </h4> 
</div> </div>

